# MySql Explain Basics

#TODO intro explaining what MySql explain is and does and how to use it

##### Database initialization

In [ ]:
from helpers.db.db_setup_methods import *
from helpers.db.db_query_methods import *

from helpers.db.db_helper_methods import *

init_db(20000)

Starting insert into 'products' (20000 rows)...
Finished inserting 20000 rows into 'products' in 0.36s.

In [ ]:
query = f"explain select * from products;"

execute_query(query, database=get_database_name(), print_as_df=True, show_metrics=True)

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,products,None,ALL,None,None,None,None,20000,100.0,None

[QUERY METRICS] 1 rows fetched, 8.87 ms

In [ ]:
query = """EXPLAIN SELECT products.name, brands.name 
FROM products 
JOIN brands ON products.brand_id = brands.id
WHERE products.id <= 100;"""

execute_query(query, database=get_database_name(), print_as_df=True, show_metrics=True)

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,products,None,range,"PRIMARY,brand_id",PRIMARY,4,None,100,100.0,Using where
1,1,SIMPLE,brands,None,eq_ref,PRIMARY,PRIMARY,4,test_database.products.brand_id,1,100.0,None

[QUERY METRICS] 2 rows fetched, 9.88 ms