In [1]:
from helpers.db.db_setup_methods import *
from helpers.db.db_query_methods import *

from helpers.db.db_helper_methods import *

init_db(20000)

Starting insert into 'test_table' (max 20000 rows)...
Finished inserting 20000 rows into 'test_table' in 0.26 seconds.

In [7]:
query = f"EXPLAIN SELECT * FROM {get_table_name()};"

df = execute_query(query, database=get_database_name(), as_df=True)

display(df)

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,test_table,None,ALL,None,None,None,None,19801,100.0,None