In [7]:
from helpers.db.db_setup_methods import *
from helpers.db.db_query_methods import *

from helpers.db.db_helper_methods import *

init_db(2000000)

Created empty database
Created empty tables
Starting to insert data

Starting insert into 'products' (2000000 rows)...
Finished inserting 2000000 rows into 'products' in 36.25s.

This is just to play with the group by.

First i would expect if i made like a group by that maybe if i had a index on it, it would be faster

In [8]:
drop_non_clustered_indexes("products", get_database_name())

query = """
SELECT COUNT(*) 
FROM products
WHERE price = 999 
GROUP BY price;
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=True)
execute_query("EXPLAIN " + query, database=get_database_name(), print_as_df=True, show_metrics=False)

[QUERY METRICS] 1 rows fetched, 267.64 ms

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,products,None,ALL,None,None,None,None,1986788,10.0,Using where

In [9]:
drop_non_clustered_indexes("products", get_database_name())

query = """
CREATE INDEX idx_price ON products (price);
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=False)

query = """
SELECT COUNT(*) 
FROM products 
WHERE price = 999 
GROUP BY price;
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=True)
execute_query("EXPLAIN " + query, database=get_database_name(), print_as_df=True, show_metrics=False)

[QUERY METRICS] 1 rows fetched, 0.55 ms

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,products,None,ref,idx_price,idx_price,5,const,2005,100.0,Using where; Using index

The index making it faster did seem to be the case.

Now i want to explore abit about if you also add a access predicate that is different from the group by what happens. 

I expect that no matter the order that the index would make it faster. But speed would also depend on the order where in this case i would think that since like the price = 999 will limit the search result the most then price, size would be the faster index

In [10]:
drop_non_clustered_indexes("products", get_database_name())

query = """
SELECT size, COUNT(*) as count
FROM products
WHERE price = 999 
GROUP BY size;
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=True)
execute_query("EXPLAIN " + query, database=get_database_name(), print_as_df=True, show_metrics=False)

[QUERY METRICS] 18 rows fetched, 379.68 ms

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,products,None,ALL,None,None,None,None,1986788,10.0,Using where; Using temporary

In [11]:
drop_non_clustered_indexes("products", get_database_name())

query = """
CREATE INDEX idx_price_size ON products (price, size);
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=False)

query = """
SELECT size, COUNT(*) as count
FROM products
WHERE price = 999 
GROUP BY size;
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=True)
execute_query("EXPLAIN " + query, database=get_database_name(), print_as_df=True, show_metrics=False)

[QUERY METRICS] 18 rows fetched, 0.90 ms

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,products,None,ref,idx_price_size,idx_price_size,5,const,2005,100.0,Using where; Using index

In [12]:
drop_non_clustered_indexes("products", get_database_name())

query = """
CREATE INDEX idx_size_price ON products (size, price);
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=False)

query = """
SELECT size, COUNT(*) as count
FROM products
WHERE price = 999 
GROUP BY size;
"""

execute_query(query, database=get_database_name(), print_as_df=False, show_metrics=True)
execute_query("EXPLAIN " + query, database=get_database_name(), print_as_df=True, show_metrics=False)

[QUERY METRICS] 18 rows fetched, 218.06 ms

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,products,None,index,idx_size_price,idx_size_price,408,None,1986788,10.0,Using where; Using index

I think i was right in my assumption. Though the difference in speed if i had the index size, price was not notciable at lower data amount but at 2M it was clear.